$breakpoint-tablet: 900px;
$breakpoint-phone: 700px;
* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

body {
  background-color: #121212;
  color: white;
}

@media (min-width: $breakpoint-tablet) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  table {
    margin: 20px;
  }

  div.summary {
    display: block;

    margin-left: 40px;
    
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    button {
      position: relative;
      top: 60%;
      transform: translateY(-60%);
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $breakpoint-phone) {
  tr {
    th:first-child {
      display: none;
    }
    td:first-child {
      display: none;
    }
    td:last-child {
      
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
.App {
  table {
    margin-top: 10px;
    display: block;

    table-layout: auto;

    white-space: nowrap;
    

    tr {
      th {
        color: white;
        line-height: 1.5em;
        padding: 2px;
      }

      td {
        text-align: left;
        border-bottom: 1px solid gray;
      }

      td:first-child {
        border-right: 1px solid gray;
        text-align: center;
        img {
          width: 75%;
          opacity: 0.9;
        }
      }
    }
  }

  button {
    background-color: #0275d8;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #0275d8;
    line-height: 1.5em;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;

    
  }
  button:hover {
      background-color: #065eaa;
      border-color: #065eaa;
    
  }

  .temp {
    color: red;
  }
}
